*{
  background-color:gray;
    color:antiquewhite;
    text-align: center;
   
    

}
   #imgPerfil{
    border:solid 30px;
    border-color: black;
    width: 90%;

  } 
      .tituloPrincipal{
      font-size: 500%;
      font-style: italic;
      text-decoration: underline;
      font-family: 'Pinyon Script', cursive;
    }
    #bio{
      margin-top: 8px;
      font-size: 200%;
      font-style: italic;
      font-family: 'Pinyon Script', cursive;
    }
#desc {
  font-size: 200%;
  font-style: italic;
  font-family: 'Pinyon Script', cursive;
}
li {
  text-align: left;
  color: black;
  flex-direction: row-reverse;
}

#libros {
  margin-top: 16px;
  font-size: 200%;
  font-style: italic;
  font-family: 'Pinyon Script', cursive;
}
#actores{
  margin-top: 16px;
  font-size: 200%;
  font-style: italic;
  font-family: 'Pinyon Script', cursive;
}
#link {
  color: black;
  

}

#drop {
  color: black;
}

#disa{
  color: black;
}

#boton {
  color: black;
  border-color: black;
  background-color: antiquewhite;
  
}

#carrusel {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  
  
}

#actores {
  font-size: 200%;
}

.row{

}